
  <nav class="navbar" role="navigation" aria-label="main navigation" id="mybar">
    <div class="container">

        <!-- logo or branding image on left side -->
        <div class="navbar-brand">
               <div class="title is-uppercase has-text-weight-medium has-text-grey">{{page.title}}
                </div>
            </a>
            <div class="navbar-burger" data-target="pub-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>


  <div class="navbar-menu has-background-white is-size-7" id="pub-menu" >
            <!-- navbar items | left side -->
            <!-- <div class="navbar-start">
            </div> -->
            <!-- navbar items | right side -->
            <div class="navbar-end">
	      
<a href="https://scholar.google.com/citations?hl=en&user=---SARsAAAAJ&view_op=list_works&sortby=pubdate" target="_blank" class="has-text-black" id="pub-menu">  <i class="ai ai-google-scholar ai-2x" style="vertical-align:middle;"></i> 
</a> 



<a href="https://pubmed.ncbi.nlm.nih.gov/?term=Ray+Surajit" target="_blank" class="has-text-black" > 
<i class="ai ai-pubmed ai-2x" style="vertical-align:middle;"></i> 
</a>




<a href="https://www.semanticscholar.org/author/Surajit-Ray/1901464" target="_blank" class="has-text-black" > 
<i class="ai ai-semantic-scholar ai-2x" style="vertical-align:middle;"></i> 
</a>

<a href="https://arxiv.org/search/?query=Ray%2C+Surajit&searchtype=author&abstracts=show&order=-announced_date_first&size=50" target="_blank" class="has-text-black" > 
<i class="ai ai-arxiv ai-2x" style="vertical-align:middle;"></i>  
</a> 





<a href="https://www.researchgate.net/profile/Surajit-Ray/research" target="_blank" class="has-text-black" > 
<i class="ai ai-researchgate ai-2x" style="vertical-align:middle;"></i> 
</a>


<a href="https://orcid.org/0000-0003-3965-8136" target="_blank" class="has-text-black" > 
<i class="ai ai-orcid ai-2x" style="vertical-align:middle;"> </i> 
</a>
	    </div>
	    </div>

 </div>
</nav>
