@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');


html,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
}



/* width */
::-webkit-scrollbar {
    width: 0.5vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #363636 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black !important;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }
}

.is-active {
    font-weight: bold;
}

.columns {
    .button {
        margin: 0.5rem !important;
    }
}

hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}




$color-code-background: #d9d9d9;
$color-code-color: #333399 ;
$blue: hsl(201, 90%, 39%) ;
$link: $blue;




a {
    color: $blue;

}




a:hover { 
 text-decoration: underline;
 text-decoration-color: orange;
 text-decoration-thickness: 2px;
 text-underline-offset: 0.2rem;
}


code {
    background-color: $color-code-background;
    color: $color-code-color;
    border-radius: 0.3em;
    font: 16px;
    white-space: nowrap;
    padding: 4px 8px 4px 8px;
}



/* Definitions for publications */


li.pub {
  padding: 0;
  margin: 0;
  list-style: none;
}



li.pub {
  margin: 1em;
  margin-left: 1.5em;
}

li.pub:before {
  content: '\f02d';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color:  #666666;
  font-size: 3ex;
}

li.pub auth {
  color: gray  ;
  font-size: small;
}

li.pub code {
  color: gray ;
  background: none;
}


.btn1{

margin-right: 5px;
margin-left: 5px;

}


.line {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
  border-top: 1px solid hsl(0, 0%,70%); 
  	}





/* Definitions for grants */

.grant {
   }

.grant li {
  padding: 0;
  margin: 0.5em;
  list-style: none;
}


.grant li:before {
  content: '\f101';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color:  #666666;
  font-size: 2ex;
}

.grant h2{
    font-size: 1.2rem;
    padding: 5px;
    margin: 0 0 10px 0;
    color:hsl(0, 0%, 29%);
    background-color: hsl(0, 0%, 97%); 
    border-color: orange;
    border-style: solid;
    border-width: 0 0 1px 0;
}







.grant  code 
{
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color:  hsl(0, 0%, 25%); 
  font-family: 'Poppins', sans-serif;
  font-size: small;
  font-weight: normal;
  outline: 0;
  overflow: hidden;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


/* General */



.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
  overflow: hidden;
  font-size: small;

}


.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
  overflow: hidden;
  font-size: small;

}


.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
  overflow: hidden;
  font-size: small;

}


.nobr { white-space: nowrap }


.wrap-flex {
            display: flex;
            align-content: space-between;
	                height:2rem;
            flex-flow: column wrap;
        }
          



.noline a{
    color: black;
}

.noline a:hover { 
    color: orange;
    text-decoration: none;
}


/* Other pages mode */

.other h2{
    font-size: 1.2rem;
    padding: 5px;
    margin: 0 0 10px 0;
    color:hsl(0, 0%, 29%);
    background-color: hsl(0, 0%, 97%); 
    border-color: orange;
    border-style: solid;
    border-width: 0 0 1px 0;
}


.other h3{
    font-size: 1rem;
    padding: 5px;
    margin: 0 0 0 0;
    color:hsl(0, 0%, 39%);
    }






#pub-menu .ai{
    padding: 0 10px 0 10px!important;
}

#pub-menu a:hover{
    color: hsl(0, 0%, 39%)!important;
    font-size: larger;
}


/* For grants pages using messages class of message */


.message-body a{
    color: hsl(0, 0%, 19%) !important;
    font-weight: 600;
    text-decoration: none!important;
    
}


.message-body a::before{
    content:  '\f08e';
    font-family: 'FontAwesome';
    font-size: 2ex;
    margin: 0 0.5ex 0 0.5ex;
  
}

    


.message-body a:hover{
    color: hsl(0, 0%, 39%)!important;
}
