---
layout: compress
---

<!DOCTYPE html>
<html>

   
{% include head.html %}

<body>
    {% include navbar.html %}
        <div class="hero-body">
            <div class="container" id="page-section">
              <div class="section">
           		 
	       <div>
 	{% include pubother.html %}
			</div>

                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
